[project]
name = "{{ project_name }}"
version = "{{ package_version | in_double_quote_literal }}"
description = "{{ package_description | in_double_quote_literal }}"
authors = []
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "httpx2>=2.13.0,<3",
    "attrs>=22.2.0",
]

[tool.pdm]
distribution = true

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"
